name: Build and Run Console Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.302' # Usa la versione di .NET che ti serve

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Run tests
        run: dotnet test ./NotionColumnUpdaterTests.Unit/NotionColumnUpdaterTests.Unit.csproj --configuration Release --no-build --verbosity normal
